@import "../../../variables";

.contact__details__panel {
  flex-basis: 15%;
  &__icon {
    text-align: center;
    img {
      height: 100px;
    }
  }
  &__data {
    text-align: center;
    margin: 10px 0 0 0;
    cursor: pointer;
  }
  a {
    color: $color-cool-gray;
    text-decoration: none;
    font-size: 16px;
  }
  button {
    color: $color-cool-gray;
    text-decoration: none;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.contact__details__panel:hover a, .contact__details__panel:hover button {
  color: white;
}

@media(max-width: 651px){
  .contact__details__panel {
    margin-top: 20px;
    &__icon {
      img {
        height: 80px;
      }
    }
    &__data {
      text-align: center;
      margin: 0;
    }
    a {}
    button {}
  }
}
