@import "../../variables";

header {
  height: $height-nav-not-mobile;
  width: 100%;
  background-color: $color-cool-darkblue;
  display: flex;
  color: $color-white;


  div.logo {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;

  p {
    margin: 0;
  }
  }
}

@media (max-width: 651px) {
  header {
    z-index: 99999999999999999999999999999999;
    position: fixed;
  }
}

@media (max-height: 401px) and (orientation: landscape){
  header {
    z-index: 99999999999999999999999999999999;
    position: fixed;
  }
}