.project {
  display: flex;
  justify-content: center;

  h3 {
    flex-basis: 20%;
    letter-spacing: 1px;
  }

  &__details {
    flex-basis: 50%;
    font-size: 18px;
    line-height: 34px;
    white-space: pre-line;
    text-align: justify;

    &__tech {
      margin-top: 20px;
    }
  }

  &__urls {
    margin-left: 5px;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      flex-basis: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
      font-style: italic;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}

.orange {
  color: orange;
  padding-right: 5px;
}


@media (max-width: 651px){
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      text-align: center;
      margin: 0 0 10px 0;
      letter-spacing: 1px;
    }

    &__details {
      font-size: 14px;
      line-height: 30px;
      margin: 0 30px;

      &__tech {
        margin-top: 20px;
      }
    }

    &__urls {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      a {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

@media (max-height: 401px) and (orientation: landscape){

    .project {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        text-align: center;
        margin: 20px 0;
        letter-spacing: 1px;
      }

      &__details {
        font-size: 14px;
        line-height: 30px;
        margin: 0 60px;

        &__tech {
          margin-top: 20px;
        }
      }

      &__urls {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        a {
          font-size: 12px;
          text-align: center;
        }
      }
    }
}

@media (max-width: 1600px){
  h3 {
    font-size: 25px;
  }
}