@import "../../../variables";

.main-ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

header nav {
  height: 100%;
  flex-grow: 3;

  ul li {
    position: relative;
    flex-basis: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  li:hover {
    background-color: $color-cool-blue;
  }

  li:after {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -100%);
    content: '';
    width: 0;
    border-bottom: 1px solid  orange;
    transition: all .2s ease-in-out;
    opacity: 1;
  }
  li:hover:after {
    width: 60%;
  }
}


.main-ul__about-me:hover .main-ul__about-me_dropdown, .main-ul__projects:hover .main-ul__projects_dropdown, .main-ul__contact:hover .main-ul__contact_dropdown, .main-ul__projects-details:hover .main-ul__projects-details_dropdown {
  display: block;
}

.link-icon {
  margin-right: 5px;
}

