@import '../../variables';

.footer {
  height: $height-footer;
  background-color: $color-black;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 651px){
  .footer {
    font-size: 12px;
  }
}