@import "../../variables";

.loading-view {
  height: calc(100vh - #{$height-nav-not-mobile} - #{$height-footer});
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    flex-basis: 10%;
  }
}