@import '../../../variables';

.section-tech {
  height: $height-section;
  background-color: #500505;
  display: flex;
  flex-direction: column;
  color: $color-white;

  .tech-title {
    height: $height-title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
  }
  .frontend, .backend, .other {
    flex-basis: calc(#{$height-section - $height-title} / 3);
    display: flex;
    justify-content: center;
    align-items: center;

    .tech {
      flex-basis: calc(100vw / 3);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;

    }
  }

}

.image {

}