@import '../../../variables';

.section-tech {
  height: $height-section;
  display: flex;
  flex-direction: column;
  color: $color-white;

  .tech-title {
    height: $height-title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .frontend, .backend, .other {
    flex-basis: calc(#{$height-section - $height-title} / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    .tech {
      flex-basis: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;

    }
  }

}

img {
  height: 100px;
}
.tech-title {
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.5s;
}

.frontend {
  transform: translateX(-100%);
}

.backend {
  transform: translateX(100%);
}

.other {
  opacity: 0;
}