$color-white: #f1f1f1;
$color-black: #0a0a0a;
$color-cool-gray: #bbb;
$color-cool-darkblue: #0e0e50;
$color-cool-blue: #252598;
$color-blue-dropdown: rgba(37, 37, 152, 0.8);
$height-app: 100vh;
$height-nav-not-mobile: 5vh;
$height-nav: 0vh;
$height-header: 95vh;
$height-section: 100vh;
$height-footer: 5vh;
$height-title: 15vh;