@import "../../../variables";
.section-about-me {
  height: calc(100vh - #{$height-nav-not-mobile});
  //background-color: #123;
  position: relative;
}

.banner {
  height: 100%;
  width: 100%;

  .content {
    padding: 20px 40px 20px 20px;
    color: $color-white;
    height: 100%;
    background-color: rgba(30, 30, 80, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .first-part {
      flex-basis: 20%;
      display: flex;
      align-items: flex-start;
      font-size: 50px;

      p {
        overflow: hidden;
        border-right: .15em solid white;
        white-space: nowrap;
        letter-spacing: .15em;
        animation: typing 2.5s steps(20, end),
        blink-caret .8s step-end infinite,
        bordering .8s step-end 3s infinite;
      }
    }

    .second-part {
      flex-basis: 15%;
      display: flex;
      align-items: flex-start;
      font-size: 30px;
      opacity: 0;
      animation: showing .9s linear 3s forwards;
      letter-spacing: 1px;
    }

    .third-part, .fourth-part {
      font-size: 20px;
      display: flex;
      align-items: flex-start;
      flex-basis: 15%;
      text-align: right;
      white-space: pre-wrap;
      opacity: 0;
      animation: showing .9s linear 3s forwards;
      line-height: 40px;
      letter-spacing: 1px;
    }
  }

}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: white }
  50% { border-color: white; }
}

@keyframes bordering {
  from, to { border-color: white }
  50% { border-color: transparent; }
}

@keyframes showing {
  from { opacity: 0 }
  to { opacity: 1 }
}


@media (max-width: 651px) {
  .banner {
    height: calc(100vh - #{$height-nav});
    .content {
      display: flex;
      align-items: center;
      padding: 20px;
      .first-part {
        flex-basis: 15%;
        font-size: 34px;
      }
      .second-part {
        font-size: 28px;
        text-align: center;
      }

      .third-part, .fourth-part {
        font-size: 18px;
        text-align: center;
        margin: 10px 0;
        line-height: 36px;
      }
    }
  }
}

@media (max-height: 401px) and (orientation: landscape){
  .banner {
    .content {
      .first-part {
        flex-basis: 15%;
        font-size: 30px;
      }
      .second-part {
        font-size: 24px;
      }

      .third-part, .fourth-part {
        font-size: 16px;
        text-align: right;
        margin: 10px 0;
      }
    }
  }
}


